[2015-02-12 16:48] jrmerz opened #1 "File Structure"
@qjhart The current file structure (a quick guess) puts the budget name for each file... this can make updating a budgets name a pain.  Would a better structure be:

[code]

This would make copying a budget easier.  Though searching for, say, which budgets have Alfalfa in Sacramento County, CA a pain.

[2015-02-12 18:07] qjhart commented on #1
I'm not sure about this either.  Currently, I'm thinking we need to more completely separate costs, and budgets, and I think most of the time we will have costs covering the entire region, so I'm thiking:

[code]

or maybe

[code]

Then for budgets, I guess in the end we want

[code]

where items can be found in the costs tables. and amounts can change from fipscode to fipscode

This doesn't have

[2015-02-12 19:44] qjhart opened #2 "Annualizing costs for multi-year crops"
Nathan brought up the point that the current methodology for calculating for costs for multi-year crops needs to be investigated.  There are a few ways of doing that.  We've discussed this as a method for annuallizing costs, but another method could just be to explicitly say the time over which the costs were incurred.

[2015-02-13 20:40] qjhart commented on #2
I'm starting to think that maybe what we need to do is assign costs a set of timeframes, like 'Planting', 'Annual','Harvest' and then maybe one like timestep, where we explicity add them by month ( for the non-regular harvest scheduing.)

[2015-02-19 22:13] qjhart opened #3 "Verify Current materials breakdowns are sufficient to Capture Current cost and return studies."
the different management practices (and therefore inputs required) by location and time are captured in the cost and return studies that Judy is working through.
They also have good information on prices that we may or may not want to use.

[2015-02-19 22:15] qjhart opened #4 "Develop Spatially indexed prices (w/ yearly estimates) for Fuel"
Quinn and I are working on developing a consistent spatial input price data set.  I think we have a reasonable approach for fuel and labor.

[2015-02-19 22:16] qjhart opened #5 "Develop spatially indexed costs for labor"

[2015-02-24 22:48] qjhart opened #6 "Verify that multiple users can upload data from Santiago's database"
Use the #Admin interface from the farm-budget database.

[2015-02-24 22:49] qjhart opened #7 "Verify that Santiago's Budget is all incorporated into the farm budget data."

[2015-02-24 22:55] qjhart opened #8 "Look into and follow the guidelines for the PUR database."
See if we can snatch what's needed from there for our naming shceme.

[2015-02-24 23:12] qjhart opened #9 "Water Need to come up with the distribution of costs over the region"
Boon-Ling  previously did this with per state mean estimates from NASS 2008, survey.

[2015-02-24 23:18] qjhart opened #10 "Need to come up with labor estimates for all the worker types"
Judy sez that some of her Ag budgets only have $ for labor, not hours or type of labor.

[2015-02-24 23:19] qjhart opened #11 "Stop Gap Labor costs by getting B Labor Statistics."
Get an estimate of the BLS statewide Labor costs.

[2015-02-24 23:21] qjhart opened #12 "Send out list of potential list of labor types for Judy to review,"

[2015-02-24 23:29] qjhart opened #13 "Develop a Map of the prices for the individual crops by region"
Judy sez that this all comes from the NASS input data.  Quinn will verify?  Boon-Ling sez don't review these at all.

[2015-02-24 23:36] qjhart opened #14 "Develop a land costs / acre for the entire region."
Nathan sez there is a cost for land-rent but it's only available by county and irrigated vs, non-irrigated.
Nathan used non-irrigated land rent.

[2015-02-24 23:41] qjhart commented on #14
Nathan thinks that this is done annually.

[2015-02-24 23:50] qjhart opened #15 "Verify we have a framework in place that can handle crops with different timespans"
Nathan has a poplar buget @ 30yrs
Judy has tree budgetat 15 and 30 years.
How do we represent the non-annual costs in these -
- (Cost and Return Studies)

[2015-02-25 16:34] ncparker commented on #12
Ag. job titles can be found at the link below. I think we need at least 45-2091 and 45-2092 (Equipment operators and laborers) and I've asked Judy to review other titles.
http://www.bls.gov/oes/current/oes_ca.htm#45-0000

Transport job titles can be found at the link below. We need data for 53-3032 (Heavy duty truck and trailer drivers).  Not sure if we want any others.
http://www.bls.gov/oes/curr

[2015-02-25 16:36] ncparker commented on #11
Looks like I can pull data at the spatial resolution of the county or groups of counties from the BLS.  I will try to pull a time series for ag. machine operators for the region and see what the data looks like.

[2015-02-25 18:51] judyhanna commented on #12
45-2091 and 45-2092 should cover all the labor needs.

[2015-02-26 19:48] ncparker commented on #9
Newer NASS survey on irrigation.

http://www.agcensus.usda.gov/Publications/2012/Online_Resources/Farm_and_Ranch_Irrigation_Survey/

[2015-02-26 20:18] ncparker commented on #14
I've added land rent for irrigated cropland as a data dump from NASS for counties in CA/ID/OR/WA.

[2015-02-26 22:14] qjhart commented on #14
@ncparker, Before I close this issue, I'm going to suggest some minor modifications to your input format, (basically less columns) ,but it looks good, thanks.

[2015-02-26 22:58] blyeo commented on #14
Hi--How do I see the data that has been uploaded?

On Thu, Feb 26, 2015 at 2:14 PM, Quinn Hart notifications@github.com
wrote:

[2015-02-26 23:11] qjhart commented on #14
It's hard to know this in advance, but Nathan could have automatically upated this issue by referencing #14 in comment when he committed, otherwise, here, I can reference the commit, 91ade2c6033fd84b59987d0bcf77b99ae92e99d8, and you can follow that to see the file(s) he added and modified.  You can either download the files individually or better yet, clone the repo on your site.

[2015-02-27 18:00] ncparker commented on #14
Ok I'm slow at learning.. I've reduced the columns and added a 5 digit FIPS code.  The file can be found here: farm-budgets-data/data/costs/ucd/NASS land rent 2008-2014.csv

I'll reference the issue next time.  I've got the idea now.

[2015-02-27 18:03] blyeo commented on #14
Hi-shall we set up a master excel sheet where we can enter all these data to the corresponding region and crops- SWAP format? Pls also delegate someone to enter the data in the correct format once we agree on the data we want to use for each of the cost categories.

On Feb 27, 2015, at 10:00, ncparker notifications@github.com wrote:

[2015-02-27 19:13] #12 closed, assigned to ncparker

[2015-02-27 19:13] #14 closed, assigned to ncparker

[2015-02-27 19:15] qjhart opened #16 "Document best practices for using this data within an XLS spreadsheet."
Hi-shall we set up a master excel sheet where we can enter all these data to the corresponding region and crops- SWAP format? Pls also delegate someone to enter the data in the correct format once we agree on the data we want to use for each of the cost categories.

[2015-02-27 19:18] qjhart commented on #14
@ncparker I've been draconian in removing columns from this file, I hope that's okay with you.

[2015-02-27 19:20] qjhart opened #17 "How are $s represented in cost data."
The standard units of measure  doesn't include dollar amounts.  I don't understand how we defined $ in our costs.  Should we say that if the cost includes a year, then the $ are for that year?  Should we say _every_ cost needs to have a year, and costs are always to that year? I like that the best.  Can we add a 'costs' section to the wiki however we do it?

[2015-02-27 19:22] qjhart commented on #7
If adding new budgets from Santiagos' sheets is a admin cut and paste, and is done manually, can we add a quick item on how to do that to the editor page ?

[2015-02-27 19:29] qjhart commented on #1
@ncparker @jrmerz This is still not finalized, and I am changing file locations willy-nilly still.  Soon, I will start getting your approval beforehand, but not yet.

Current strategy is more simple:
data/[authority]
Then in authority, you divide however you want, but prices, end in _price.  Maybe that's not the best idea.

[2015-02-28 01:13] blyeo commented on #17
Hi--To be consistent, all costs should be in 2009 year and expressed as
$/acre for all the items we are tracking. For example, in each cell for
each crop and region it should be $ land rent/acre for 2009. The reason why
I say 2009 is because all of Santiago's budget are in 2009.

On Fri, Feb 27, 2015 at 11:20 AM, Quinn Hart notifications@github.com
wrote:

[2015-02-28 01:43] blyeo commented on #16
The idea I have to do this would be to add 4 columns in the "masterthisistheone120612.xls" Mark's worksheet that Mark had initially created and each new column would consist of the following items:

(1) land cost/acre
(2) labor cost/acre
(3) supplies in dollars/acre [Note: This is a sum of fertilizer, pesticides, repair and maintenance, custom and consultant)
(4) water cost/acre

That worksheet I

[2015-03-02 14:30] jrmerz commented on #7
@qjhart I will make a quick screen cast, it's a very 'hacky' process.

[2015-03-02 14:33] jrmerz commented on #7
All of Santiago's budgets have been added here 6dd6d77.  There are two notes.
- The Alfalfa Seed sheet as not state associated with it
- The costs are shared across state for all crops and can sometimes very greatly from crop to crop in the budget.  The importer just overwrites the last amount, so many of the values do not reflect what is in the spreadsheet.

[2015-03-02 14:33] #7 closed, assigned to jrmerz

[2015-03-02 14:55] jrmerz commented on #7
The screencast is now online [here](https://drive.google.com/open?id=0B_7cUV-o2QQYWUpCVlgzRW1CWUU&authuser=0).  Please email me with your gmail account if you want access to the admin interface.  I would like to reiterate, this is an early prototype.  So step lightly.

[2015-03-06 00:33] qjhart commented on #8
@judyhanna, @blyeo  okay, I've downloaded and examined the PUR database.  I think that we can move forward somewhat with our strategy, except we have the following problem.  There are something like 35K different pesticide products.  This includes about 3500 chemicals in about 20 different application forms.  So, I don't know how you want to put these in a budget.  For example, here are the pestic

[2015-03-11 18:55] #17 closed, assigned to ncparker

[2015-03-12 17:47] qjhart commented on #6
@jrmerz Developed and shared a nice video about using the admin interface.  https://drive.google.com/open?id=0B_7cUV-o2QQYWUpCVlgzRW1CWUU&authuser=0

[2015-03-12 17:47] #6 closed, assigned to qjhart

[2015-04-02 18:33] ncparker opened #18 "Add county to agricultural district crosswalk and incorporate into data pulling hierarchy"
Nathan will get national crosswalk.

[2015-04-03 21:59] qjhart commented on #16
@blyeo you have described above, what you'd like to see as spreadsheet for the SWAP model input.  That is different than what I was requesting, which was a spreadsheet that takes in the farm-budget-data csv files, and allows a user to investigate the costs for a particular region.  Your organization is fine, but it's the result of running the budget over the entire region.

[2015-04-03 22:03] qjhart commented on #13
@blyeo The additional input that is required by SWAP is the price of the commodities.  This issue note seems to  say you think this is complete.  Do you think commodity price should be included in this database?

[2015-04-03 22:04] qjhart commented on #10
@blyeo Yo see from this note, that you and @judyhanna need to make sure the production materials is broken down by labor type and hours.

[2015-04-03 22:05] qjhart commented on #8
@blyeo / @judyhanna  what is the decision on this.  Do not use?

[2015-04-03 23:22] qjhart commented on #5
Same as #11

[2015-04-03 23:22] #5 closed, assigned to ncparker

[2015-04-07 23:50] blyeo commented on #13
We have all the commodity prices from the BCAM input Excel files. When you
say be included in the database, do you mean be included as an item here:
https://github.com/CSTARS/farm-budgets-data/tree/master/data ?

On Fri, Apr 3, 2015 at 3:03 PM, Quinn Hart notifications@github.com wrote:

[2015-04-07 23:52] blyeo commented on #10
Will follow-up with Judy on this tomorrow (Wed). Thank you.

On Fri, Apr 3, 2015 at 3:04 PM, Quinn Hart notifications@github.com wrote:

[2015-04-08 22:09] judyhanna commented on #10
@ncparker Could you send me the BLS data?

[2015-04-09 07:20] ncparker commented on #10
@judyhanna Here is what I have.  I only have one time step for the data.
The more historical data may be available using an API at the BLS website.

On Wed, Apr 8, 2015 at 3:09 PM, judyhanna notifications@github.com wrote:

[2015-04-09 17:30] qjhart commented on #13
@blyeo  I think we should use the same Table as we use for the price of the materials; so that means A CSV files in the form of:

[code]

Are the prices by county? State? or CMZ?

[2015-04-09 18:44] blyeo commented on #13
The incumbent crop prices are by crop and by CMZ. Would you mind showing me where this Table you'd mentioned below is sitting at and how I can add data to it? We have all of this information already in an Excel format-in the thisistheonemaster worksheet.

[2015-04-09 18:51] ncparker commented on #11
The BLS data is proving difficult in time series, It is possible I'm an idiot and missing the way to get at the data.  I have pulled the latest data for farm equipment operators (452091) and farm laborers (452092) for the MSAs in the region and state level.  Still need to match the BLS MSA areas to counties. and possibly use State averages where there is no coverage.

[2015-04-10 14:33] vbandaru9 opened #19 "Getting Farm Budget Tool available online"
-Enhancing features of Farm Budget Tool
-Make it available online for showing to USDA team.
-Add some slides to https://docs.google.com/presentation/d/18bWQ89QOGTHedwkK0w-KSCBBvohpzXCUMM3o-gylRsc/edit#slide=id.p

[2015-04-10 14:40] jrmerz commented on #19
@vbandaru9 can you be a little more specific with this?  Also, lets me this conversation to the repo: https://github.com/CSTARS/farm-budgets-app

[2015-04-10 14:40] #19 closed, assigned to nobody

[2015-04-10 15:17] vbandaru9 commented on #19
I just added this as a reminder. I dont have any specific request on this. I guess farm budget tool is running online and available for others to use. So just what ever things you guys think of to make it better, pls do it before executive meeting.

[2015-04-10 15:21] jrmerz commented on #19
Ok, it's in the process of getting lots better, but the lots-better-version is not near completion and won't be for some time.  I am branding the current version as well as adding simple instructions.  I am also adding a warning that this is only an early prototype.  This 'branded' update to the current version should be ready soon.

[2015-04-10 15:39] jrmerz commented on #19
Branded version with instructions and warning is up.  It's a splash screen, so you have to dismiss before you can use the app.  http://farm-budgets.bioenergy.casil.ucdavis.edu

[2015-04-13 19:56] blyeo commented on #10
Hi Nathan, Is there any chance you can send the files from the BLS to me
and Judy today? We'd like to work on figuring out data for "labor in
dollars per acre" for the SWAP analysis. We couldn't find it on github if
you have already posted it there so we were wondering if you could please
just send the files to us.

Thank you,
Boon Ling

On Thu, Apr 9, 2015 at 12:20 AM, ncparker notifications@gith

[2015-04-16 18:53] qjhart commented on #11
@ncparker and @blyeo decided that a method to calculate data for labor is to add an additional statewide labor for minimum wages.  Then use existing ratios between machine and non-machine in order to gap fill these values at the State Level.

[2015-04-16 18:55] qjhart commented on #11
@ncparker is it worth sending the API to @jrmerz to see about investigating the BLS API?

[2015-04-16 18:59] qjhart commented on #18
There is a county-Ag District crosswalk: https://github.com/CSTARS/farm-budgets-data/blob/master/data/nass/county_adc.csv
This comes from the NASS dataset. It's only for the AHB region currently.

[2015-04-16 18:59] #18 closed, assigned to qjhart

[2015-04-16 19:25] blyeo commented on #18
How do I download the Excel file from Github? Do I need to first install
Github on my computer before I can do that? Thanks!

On Thu, Apr 16, 2015 at 11:59 AM, Quinn Hart notifications@github.com
wrote:

[2015-04-16 22:19] ncparker commented on #11
@jrmerz here's a link to the BLS developer site http://www.bls.gov/developers/ I am trying to get historical data for hourly mean wage for the occupations Agricultural Equipment Operators (SOC code 452091)  and Farmworkers and Laborers, Crop, Nursery, and Greenhouse (SOC code 452092) by MSA.  This link is a table for all occupations in CA basically the data we are looking for on an MSA basis for t

[2015-04-17 20:43] blyeo commented on #18
I'm not able to download the file from GitHub. Could you please advise what I'd need to do to be able to download/upload files from github?

Would you be able to give us the data for the other crops in non-irrigated lands-the corresponding acreage, yield, FIPS code, state, etc

Thanks!

On Apr 16, 2015, at 11:59, Quinn Hart notifications@github.com wrote:

[2015-04-20 20:01] #1 closed, assigned to qjhart

[2015-04-20 20:04] qjhart opened #20 "Develop historical crop patterns"
Although strictly not a part of the farm budget data, we need a list of the commodities in play over each CMZ zone for use in the SWAP model.  These are basically aggregations of the NASS input data.

[2015-04-20 20:07] qjhart commented on #20
@blyeo / @judyhanna These are in the nass-summary directory.  Specifically, https://github.com/CSTARS/farm-budgets-data/blob/master/nass-summary-0.1-alpha/cmz_commodity_total_harvest.csv  which shows each commodity by irrigated and non-irrigated acres.  This is for census data starting from 1997.

It's actually *not \* easy to determine the irrigated and non-irrigated components, and these should

[2015-04-20 20:07] #20 closed, assigned to qjhart

[2015-04-20 20:34] qjhart opened #21 "Commodity Naming Scheme"
@judyhanna / @blyeo , We get yields and acreages from NASS, and that seems like the best place to start with naming our commodities.  You have seen a list of the commodities.  Right now, some of our existing budgets do not match these names.   I have done the following recasting of the existing budgets to the NASS names.  Note that there are sub -categories we could include, but I would think that

[2015-04-20 23:01] blyeo commented on #20
Just to clarify--the whole purpose of having irrigated and non irrigated
land (disaggregated) is because we have different land rent value for
irrigated and non irrigated land, right? Are there any other
differentiation in costs for non-irrigated vs. irrigated lands that we need
to be aware of besides land rental rates?

On Mon, Apr 20, 2015 at 1:07 PM, Quinn Hart notifications@github.com
wrote:

[2015-04-20 23:06] qjhart commented on #20
@blyeo And the cost of irrigation as well.  Other than that, I don't think I've ever seen a budget that differentiates between them.

[2015-04-20 23:32] blyeo commented on #20
Got it!

Judy--have you found different irrigation costs for irrigated and
non-irrigated agricultural croplands?

On Mon, Apr 20, 2015 at 4:06 PM, Quinn Hart notifications@github.com
wrote:

[2015-04-26 21:43] qjhart commented on #11
@jrmerz / @ncparker  Nathan will need to help Justin with the code to use.  Look here, http://www.bls.gov/help/hlpforma.htm for the format of this which is confusing to me.   Here's an example, but I don't know why we can't get a history for the OES data

[code]

[2015-04-27 12:36] jrmerz commented on #11
I found this tool: http://data.bls.gov/oes/, not sure if it will help.  The occupation id: 452091 wasn't listed... I tried another and the query was still fubar.  Though I have 0 idea what I am trying to get at.

[2015-05-14 17:12] qjhart opened #22 "Add NASS Yield Data to the Budgets"
Incorporate New nass-summary data from v0.2-alpha

[2015-05-14 17:43] qjhart opened #23 "Verify Labor Costs"
I extracted the table https://github.com/CSTARS/farm-budgets-data/blob/master/data/unknown/labor.csv
from @blyeo _master_ spreadsheet.  I am using this for the farm_budgets calculations.  From discussion with @blyeo and @judyhanna , I think these are minimum wages, and are multiplied by 1.3 for the equipment operators.

As per our previous discussion, we decided the following OES labor types are u

[2015-05-14 18:36] qjhart opened #24 "Get commodity price information from NASS database"
The NASS survey data includes commodity prices at the statewide basis.  These are needed for the cost and return data.

[2015-05-14 18:56] qjhart opened #25 "Get a Complete list of materials used in the current budget"
The current budgets are fairly fast and loose with the materials used.  We need to get better standardization on this inputs.  The first item for that is to get list of the current materials and budgets used.

[2015-05-14 19:42] qjhart commented on #25
@ncparker @blyeo @judyhanna  I have updated the project to include two new files.  materials.csv and operations.csv.

### materials.csv

| material | units | class | description |
| --- | --- | --- | --- |

Is a list of every line item that was found in any of Santiago's budgets.  You will see from this a number of things:
- There are a lot of items that are the same, but with different names
- Th

[2015-05-14 19:43] qjhart commented on #2
This had been started to be included in the _operations_ table.

[2015-05-14 19:43] #2 closed, assigned to ncparker

[2015-05-14 19:44] qjhart commented on #3
This is being addressed in the _materials.csv_ files and the _operations.csv_ files.

[2015-05-14 19:44] #3 closed, assigned to nobody

[2015-05-14 19:45] qjhart commented on #8
@blyeo / @judyhanna , so with the notes on the _materials.csv_ file, you may want to revisit the standard naming scheme for the pesticides on the farm-budget-data.

[2015-05-14 19:47] qjhart commented on #11
@blyeo @judyhanna  have developed an alternative labor cost method.

[2015-05-14 19:47] #11 closed, assigned to ncparker

[2015-05-14 19:48] qjhart commented on #10
@blyeo and @judyhanna , I guess have solved this.

[2015-05-14 19:48] #10 closed, assigned to blyeo

[2015-05-14 21:46] qjhart commented on #24
Closed with 99338de4df502f651d021a3b966a8dd19753370a

@blyeo @ncparker , this data in nass/commodity_price.csv.  An astute observer will note  that many high value crops (like tomatoes), have two different units.  This is based on the sub-commodity, and is whethert they are fresh or processing, but that shouldn't matter for the SWAP stuff.

[2015-05-14 21:46] #24 closed, assigned to qjhart

[2015-05-14 23:56] qjhart commented on #21
For the record, I have developed production values for all the sub-commodity types in NASS where available.  This is actually a bit tricky, because sometimes NASS will not summarize all the subcommodities.

Here's a wheat example:

[code]

| commodity | subcommodity | irrigated | total |
| --- | --- | --- | --- |
| WHEAT | {} | 31086 | 33006 |
| WHEAT | {SPRING} | 11654 | 11654 |
| WHEAT | {SPRING

[2015-05-15 00:09] qjhart commented on #21
@blyeo @ncparker. This is similar to the survey based data, however they do not always match.  This is for the same region.

[code]

| location | commodity | subcommodity | irrigated | non_irrigated | unspecified |
| --- | --- | --- | --- | --- | --- |
| 06ag51 | WHEAT | {} |  |  | 83.75 |
| 06ag51 | WHEAT | {WINTER} |  |  | 84.5 |
| 06ag51 | WHEAT | {WINTER} |  |  | 83 |

There are two values for

[2015-05-15 00:28] ncparker commented on #21
@blyeo @qjhart That wheat example is interesting because there is another nested layer within the Spring wheat subcommodity. Looking at he old budgets/yields.  I would say we should keep spring and winter wheat separated but the hay and haylage crops can be combined.  Spring and winter wheat occupy the fields at different times which is a factor in the model.

[2015-05-15 01:19] blyeo commented on #21
Please update the yield Excel table and then let me know. I will match the yield data again. Also, there are also missing counties in addition to not matching up commodity. Do you need me to give you a list of missing counties and for what crops?

On May 14, 2015, at 17:28, ncparker notifications@github.com wrote:

[2015-05-15 21:48] blyeo commented on #21
Hi Quinn, Nathan,

Not sure if you got my message below. Curious to know if the yield table
has been updated. Is it possible for you to query the data so that it
matches the crop name we have on our mastersheet? Also, there are some crop
names that do match up but some of the FIPS code are missing. Would you
like me to generate a list of crops that do match up by name but are
missing the FIPS/Coun

[2015-05-18 20:05] blyeo commented on #21
Hi Quinn,

I just wanted to follow-up on my message below. Nathan had mentioned that
the table I cut and pasted below had appeared to look like a garbel on git
hub.

The first column is the commodity name we have in the master sheet and the
second column is what's in Quinn's yield Excel file. The two column names
need to match up in order for me to match the yield data. So we have two
options:

1)

[2015-05-19 19:50] blyeo commented on #21
Hi Quinn,

I haven't heard from you. Just writing to follow-up. Would you be able to
send me the updated yield numbers with the crop name specification as I've
listed below sometime today?

Many thanks,
Boon Ling

On Mon, May 18, 2015 at 1:05 PM, Boon-Ling Yeo blyeo@ucdavis.edu wrote:

[2015-05-19 23:25] qjhart commented on #21
@blyeo @ncparker I have updated the NASS data to include all sub commodities, further, I've added a file, `commodity_list` that shows all commodities, and whether there was harvest, yield, and/or price data.  I can see some issues here, but nothing that shoud affect this study.   I would suggest we use NASS names, with the following table somewhat filled in, but I'm no expert  on these budgets.

|

[2015-05-19 23:39] ncparker commented on #21
@qjhart @blyeo
When I was checking the baseline pixel based data against the areas that
were in BCAM a long time ago, I had to match the NASS names to the BCAM
crop names.  The table Quinn made looks the same as what I had.  The two
missing items are below.

current   |  NASS
GrassHay | HAY, TAME, (EXCL ALFALFA & SMALL GRAIN)
GrassHaylage | HAYLAGE, (EXCL ALFALFA)

On Tue, May 19, 2015 at 4:25 PM

[2015-05-19 23:41] blyeo commented on #21
Awesome!! I will take a closer look at this after I sent this e-mail out.

I'd like to follow-up with you on another thing. We still need to assign
land rental rate, irrigation cost, for poplar trees... were you planning on
getting poplar yield information at FIPS (county), CMZ, and state level?
That way I can match the land rental rate for poplar at the FIPS (county)
level, if it is not available

[2015-05-19 23:46] ncparker commented on #21
@qjhart @blyeo I vote for poplar modeled at the county level.   We were thinking of taking the whole SWAP model to the county level, correct?

[2015-05-21 16:18] qjhart opened #26 "Create a poplar Yield map at the county level"
@blyeo @ncparker need poplar yieds, at the county level, where we will be running the SWAP program.

[2015-05-21 16:18] #26 closed, assigned to nobody

[2015-05-21 16:19] qjhart commented on #26
@blyeo poplar_yield.csv in the ucd-ahb folder

[2015-05-21 18:19] blyeo commented on #26
is the last column "irrigation" irrigation level for poplar acre ft/acre?

On Thu, May 21, 2015 at 9:19 AM, Quinn Hart notifications@github.com
wrote:

[2015-05-21 19:15] blyeo commented on #21
Please take note that I was not able to find "HAY, TAME, (EXCL ALFALFA & SMALL GRAIN)" in the yield data that Quinn sent out. So we've (Nathan and I) have taken "HAY, (EXCL ALFALFA)" yield values for GrassHay values in the mastersheet instead.

[2015-05-22 01:16] blyeo commented on #21
@qjhart @ncparker  I have uploaded a new file on git hub: commodity_yield_bly. During our meeting today we talked about obtaining an average crop yield from year 2007 to 2012. Please take a look at the Excel file I have put together. We are still missing quite a number of yield data--it appears that there are some crops where data is unavailable for that particular crop type in a particular locati

[2015-05-22 01:17] blyeo opened #27 "Crop prices at the county level"
@qjhart @ncparker Please generate a file similar to the yield file but for crop prices. We discussed during the meeting today that we will also check the crop prices we have on file with the NASS data. I am presuming we will obtain an average price of 2007-2012 like we are doing for the yield data as well and not just look at 2009 prices?

[2015-05-26 22:15] blyeo opened #28 "Poplar yield at the county level"
@qjhart @ncparker Quinn had sent the poplar yield by county last week and provided data with the following column headings:
1) fips
2) irrigated yield (what unit is this in?)
3) nonirrigated yield (what unit is this in?)
4) irrigation (cm/acre)

I am comparing and contrasting it to the OLD poplar yield at the CMZ level we had and what we had to do with the data to get it into the form we need.

In

[2015-05-26 22:17] blyeo opened #29 "poplar irrigation levels by county (ft/acre)"
@qjhart @ncparker

Is the 4th column in the "poplar_yield.csv" file that Quinn provide "irrigation (cm/acre)", irrigation levels for poplar? If so, then why aren't we using this irrigation for poplar irrigation levels but instead we are using the following irrigation estimations for poplar instead? Thanks for clarifying.

California--use almond trees as proxy for poplar trees

Washington--use appl

[2015-05-27 04:52] ncparker commented on #28
@blyeo with our previous poplar budget we input both the 2yr yield and the mature yield into the budget to find the cost.  When generalizing the results, I found that the 2yr yield was roughly a factor of 0.56 of the mature yield.  For ease of calculation I used this factor in creating the budget that is represented in the equations you referenced above.

I don't know why Mark insisted on the fres

[2015-05-27 05:00] ncparker commented on #29
not sure why I'm assigned to this... @blyeo the 3PG model calculates the water needed beyond rainfall in order for poplar to produce the predicted yield. From this @qjhart has estimated irrigation required including loss factors, I believe.  That is the value in the poplar_yield file.  This estimate has been declared too low by Steve (possibly supported by the Clarksburg irrigation schedule)  I do

[2015-05-27 05:03] blyeo commented on #28
@qjhart Please take a look at the worksheet "poplar yield" in the mastersheet120612thisistheone_BLY05162015_NP file. There are a few fips code where I am not able to match to Ag District, and State. I've filled in the land rental rate, irrigation costs, labor hours, and labor costs for the poplar yield you gave. Thank you.

[2015-05-27 20:02] blyeo commented on #29
Okay--noted. I will have two columns for irrigation levels for poplar: (1) proxies mentioned above; (2) irrigation levels provided by @qjhart.

[2015-05-27 21:30] qjhart commented on #29
@blyeo / @ncparker Yes, that is correct.  The estimates were considered too low for Steve, but I have not seen any  corroborating evidence to that effect.

[2015-05-27 21:30] #29 closed, assigned to ncparker

[2015-05-27 21:52] blyeo commented on #28
@qjhart Could you please let us know what is the unit for all the poplar yield data you provided us last week? 1) fips
2) irrigated yield (what unit is this in?)
3) nonirrigated yield (what unit is this in?)
4) irrigation (cm/acre)

@ncparker asks: are the yields Quinn gave mature or avg annual yield and what units they are in? Does it take into account the [first 2 years of poplar biomass] irriga

[2015-05-27 22:05] qjhart commented on #28
@blyeo / @ncparker the wiki page, https://github.com/CSTARS/farm-budgets-data/wiki/ucd_ahb describes the yield table.  Quickly, yields in dry basis Mg/ha/yr and irrigation in cm/ha/yr.  Also, the current table has the average of all harvests in there.  I forgot about the previous table, and I can pull out the first coppice easily if that is desired.

[2015-05-27 22:08] qjhart commented on #27
@blyeo, the current price table has all the data from 2005 on.  If you need to average that over all years, and/or gap fill, I think you have enough information already.  As I said however, price data seems to be pretty paltry in the NASS summary data I found.

[2015-05-27 22:08] #27 closed, assigned to qjhart

[2015-05-27 22:11] qjhart commented on #21
@blyeo, you didn't upload a new file yet. However, I id'd you on an issue  https://github.com/CSTARS/nass-summary/issues/2 where I will try and pull production data from the nass census data.

[2015-05-27 22:12] blyeo commented on #27
which Excel file should I be looking at to get the price data?

On Wed, May 27, 2015 at 3:08 PM, Quinn Hart notifications@github.com
wrote:

[2015-05-27 22:15] qjhart commented on #22
via @blyeo,  Please take note that I was not able to find "HAY, TAME, (EXCL ALFALFA & SMALL GRAIN)" in the yield data that Quinn sent out. So we've (Nathan and I) have taken "HAY, (EXCL ALFALFA)" yield values for GrassHay values in the mastersheet instead.

I have uploaded a new file on git hub: commodity_yield_bly. During our meeting today we talked about obtaining an average crop yield from year

[2015-05-27 22:16] qjhart commented on #22
@blyeo, you didn't upload a new file yet. However, I id'd you on an issue CSTARS/nass-summary#2 where I will try and pull production data from the nass census data.  Also, note I moved this from the previous issue that was un-related.

[2015-05-27 22:16] #21 closed, assigned to judyhanna

[2015-05-27 22:26] qjhart commented on #27
@blyeo  nass/commodity_price

[2015-05-27 23:29] blyeo commented on #28
@qjhart Please take a look at the worksheet "poplar yield" in the mastersheet120612thisistheone_BLY05162015_NP file. There are a few fips code where I am not able to match to Ag District, and State so it appears as "#N/A". I've filled in the land rental rate, irrigation costs, labor hours, and labor costs for the poplar yield you gave. Thank you.

[2015-05-28 00:53] blyeo commented on #28
@ncparker @qjhart I have already updated the "poplaryield" worksheet. I used the "irrigated_yield (dry basis Mg/ha/yr)" and divide it by 2.24 to get "irrigated_yield (BDT/acre)". I then applied the formula: "$51.11/acre/year + ($15.28/BDT)*mature_yield" to get the poplar variable cost per acre. This completes all the data we need for the poplar yield and production cost. However, there are still a

[2015-05-28 01:19] blyeo commented on #21
Hi--I uploaded the yield file this morning. The title of the file name is:
commodity_yield_bly

On Wed, May 27, 2015 at 3:11 PM, Quinn Hart notifications@github.com
wrote:

[2015-05-30 00:14] blyeo opened #30 "Commodity_price data"
@qjhart @ncparker I wanted to calculated average commodity prices from year 2007-2012 like we did for commodity yield. I opened the file "commodity_price" but it does not have prices for the commodities we need. @qjhart would you be able to generate another "commodity price" file that consists of the crops we need?

Here is a list of commodities in the "commodity price" file:
artichokes
asparagus

[2015-06-02 14:56] jrmerz opened #31 "'make import' fails on fresh install"
Running make import fails due to missing farm_budget_data on fresh install. Message:

LINE 23: update farm_budget_data.production set commodity=x.nass from...
                ^
for c in ; do\
     psql -d nass --variable=cwd=/Users/jrmerz/dev/cstars/farm-budgets-data/ -c "\COPY farm_budget_data.production (authority,material,location,phase,commodity,unit,amount) from $c with csv header";\
     f=`

[2015-06-02 16:48] qjhart commented on #22
@blyeo / @ncparker / @hitchpy  I have uploaded a new yield file, commodity_county_harvest.  This provides yield estimates for each commodity and county.  The table is described in https://github.com/CSTARS/farm-budgets-data/wiki/nass

As you can see however, there still needs to have some additional processing if you need yields for both irrigated and non-irrigated commodities within a county.  Pl

[2015-06-02 17:09] #31 closed, assigned to qjhart

[2015-06-02 17:12] qjhart commented on #31
@jrmerz, I have modified the Makefile however, to use services rather than a direct call.  The default service is farm-budgets-data, so my .pg_service.conf file includes the items below.  To test the setup in another db, you can do as `make PG.service=quinn import`

[code]

[2015-06-02 23:36] qjhart commented on #30
Fixed with 3e7a731.  @blyeo / @ncparker  Because almost all of the issues that I'm tracking are now related explicitly to the SWAP runs and not the farm_budget_data online, I will start to limit the data to the commodities that are identified above.  In this case, I have updated the nass/commodity_price.csv file and the nass/commodity_avg_price.csv file.  This is all survey data, and only availabl

[2015-06-02 23:36] #30 closed, assigned to qjhart

[2015-06-02 23:36] #28 closed, assigned to qjhart

[2015-06-03 17:19] qjhart opened #32 "Review the Phase / Operations section for the budgets"
I have identified about 75 line items in the current budgets that are not materials, but instead are operations.  Things like 'Baling....'.  These are contained in the operations.csv file.  I have pulled them out of the materials section, and I've added a phase to them.   There are currently only three phases.

[code]

The idea I have is that users can select different operations inside each phase

[2015-06-03 17:28] qjhart opened #33 "Too many production values of 1?"
Inside the production table, we have materials and/or operations that are specified with a value of 1.  To me this doesn't make sense.

[code]

To me lots of these look like simple dollar estimates, which is fine, but then the production table should be showing these.  For example, Let's say material,`Lube`, if you are estimating a cost of Lube, then the material table should probably have a unit

[2015-06-03 17:34] qjhart opened #34 "Add two units to the production table"
If we go to method where a production has an operation then my original thought is that the operation has a unit on which you make the estimate, and this can change.  So, for example, you might make an estimate for the '''Bale''' operation on an `acre` or `tons` basis (or maybe both).  Then when you choose a material, you choose the unit for that, for example, your `Labor` charge might be on an `h

[2015-06-03 17:41] qjhart opened #35 "Create a set of farm-budgets-data editing functions"
Currently, there are many near replicated materials, units, and operations.  We need to get these organized in a better fashion.  My proposal is this: We expect for now, that we will be doing these changes in the postgres database. So, I say we create postgres functions to make these modifications.
If we do that correctly, these may be used later in the editor.  For example:

[code]

Replaces a ce

[2015-06-03 18:24] blyeo commented on #30
Hi Quinn,
I don't see these files in my github folder. Did you already commit these
files? Could you please try reloading on github?
Thanks,
Boon Ling

On Tue, Jun 2, 2015 at 4:36 PM, Quinn Hart notifications@github.com wrote:

[2015-06-03 18:26] blyeo commented on #30
https://github.com/CSTARS/farm-budgets-data/tree/master/nass

I see it on the website but not in my github folder on my computer...

On Wed, Jun 3, 2015 at 11:24 AM, Boon-Ling Yeo blyeo@ucdavis.edu wrote:

[2015-06-03 18:49] qjhart commented on #32
You can see a more detailed description, with time frames at: https://docs.google.com/drawings/d/1vloNI7Ztfw10uvW3pcJi6pd7Cz0Ej8njCdUXIFMNb_g/edit?usp=sharing

[2015-06-03 19:00] qjhart commented on #30
Did you sync? (Upper right corner of your tool?)

[2015-06-03 19:11] blyeo commented on #30
I am having some trouble syncing... As I have worked on some excel files on
the github folder and github can't sync unless I commit all changes...

You'd mentioned I can't sync non csv files right? So I should remove the
regular excel files? It seems to be giving me problems...

On Wed, Jun 3, 2015 at 12:00 PM, Quinn Hart notifications@github.com
wrote:

[2015-06-03 19:16] qjhart commented on #30
You can sync XLS files, I said you an't track changes on them, but you can upload new ones.

[2015-06-03 19:16] blyeo commented on #30
Github says I have 38 files I have to commit, but I don't...

On Wed, Jun 3, 2015 at 12:11 PM, Boon-Ling Yeo blyeo@ucdavis.edu wrote:

[2015-06-03 19:21] qjhart commented on #30
I think by default any files in the directory are included, you should be able to unselect them.

[2015-06-03 21:59] blyeo commented on #30
I used the latest commodity_avg_price.cvs file that @qjhart posted yesterday. Here is a list of crops that's still missing:
alfalfa haylage
beans, dry lima
corn grain
corn silage
grass haylage

[2015-06-03 22:28] blyeo commented on #30
@ncparker @qjhart I have already inserted the "commodity_average_price" into the "mastersheet_clean" worksheet. The good news is that the price for almost all the "commodity_average_price" that we have is higher than the old prices we had from Mark. This should help with the negative profits problem we have been having. I inserted a separate column "AI" in the "mastersheet_clean" to check the diff

[2015-06-03 22:34] qjhart commented on #30
@blyeo From the NASS data, the only price for alfalfa is the
- For alfalfa 'HAY, ALFALFA' as reported.
- Beans only 'BEANS, DRY EDIBLE'
- there are no prices for any haylage
- Corn is strange, There are prices in there, but they are not broken down by class (Grain vs Silage), but there is a 'UTIL_PRACTICE' description that sez grain, so I am going to assume this is the grain price only, and I can

[2015-06-03 22:52] qjhart commented on #30
@blyeo Updated for CORN, GRAIN prices.

[2015-06-03 22:54] qjhart commented on #30
@blyeo FYI, Lima beans are in the DRY, EDIBLE category, so I would use that I suppose for those prices.  I don't know what to do about haylage and silage

[2015-06-03 23:15] blyeo commented on #22
@qjhart @ncparker @hitchpy Thank you Quinn. In our previous discussion, we'd said that we'd use
HAY, (EXCL ALFALFA) for grass hay, and HAYLAGE (EXCL ALFALFA) for grass  haylage. However, these two items are missing in the file "commodity_county_harvest" so we do not have any values for grass hay or grass haylage. Also, there is no data for potatoes.

[2015-06-03 23:30] hitchpy commented on #22
@blyeo  Just uploaded what I gathered for harvest acreage at nass-summary/combined_harvest.csv
Indeed, those information are from survey data, indicated in the source_desc column

[2015-06-03 23:33] blyeo commented on #22
@hitchpy The harvest acreage is different from what we are discussing in this github thread...I think @qjhart  had changed the file name from "commodity_county_harvest" to "commodity_county_yield", which is the file I am currently working on now to get the yield averages. Thank you.

[2015-06-04 00:14] qjhart commented on #22
@blyeo / @hitchpy
- There is still a commodity_harvest which includes production values, but not yields at each level
- There is a HAYLAGE, (EXCL ALFLAFA)  Note the comma
- There is a HAY, TAME, (EXCL ALFALFA) (Need to add TAME if that's what is appropriate)
- POTATOES, Hmm, there is no PRODUCTION in CENSUS data.  There should be statewide checks however.  I will review

[2015-06-04 05:50] ncparker commented on #30
@blyeo Check the 'Haylage2Hay' and 'SilagePriceWksht' sheets in the Mastersheet.... excel file.  There are no reported value for silage and haylage prices but they can be given prices based on corn and hay prices.  The corn silage is valued roughly for its grain content.  Mark created a nice way to estimate the state average price using yields of silage and grain within a state and the corn grain

[2015-06-04 18:19] qjhart commented on #30
Josue says we are mistaken and there is price data available at the county level for both haylage and silage.  This is located at: http://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/Detail/index.asp

However, this is for California only.  So from this data, we could estimate prices by comparing the haylage and silage date from the CA Ag commissioners report, and use the sa

[2015-06-04 18:26] jrmerz commented on #32
@qjhart just to verify, the production table has a phase, but does not yet have a operation?

[2015-06-05 21:46] qjhart commented on #22
@blyeo  with 0fd7d9b created a swap ready csv file at: https://github.com/CSTARS/farm-budgets-data/blob/master/swap/swap_yield.csv or https://github.com/CSTARS/farm-budgets-data/blob/master/swap/swap.csv

[2015-06-05 21:46] #22 closed, assigned to nobody

[2015-06-15 14:24] jrmerz commented on #35
Seems like there are two issues here; do we move to a simpler database solution as well as how do we want to preform edits.

I would say moving databases to something like sqlite isn't a bad idea if others want to load the db locally.  Obviously the single file structure of sqlite makes it very easy to setup and use.  As for lovefield, I am not acquainted with that db and would have to investigate

[2015-06-15 14:35] jrmerz commented on #34
So the cost is both per ton and per hr?

[2015-06-15 14:45] jrmerz commented on #33
Using 'Lube' as an example, I think that is supposed to be price (located in price table) for every one 1 acre.  Currently the price is 4.35, so $4.35 per acre of use.  You can see original data here: https://docs.google.com/spreadsheets/d/1ELVT6IBOiVHtC9SCE2GzVFgAILwAsulNCVUR6jXp2II/edit#gid=461475061 (line 39)

[2015-06-15 16:29] ncparker commented on #34
Quinn's suggestion makes sense to me.  It allows for an operation that has both hourly and per unit produced costs to be incorporated in the budget.  For Quinn's example it looks like, the operation of baling takes 25 labor-hrs per ton.  We would then need to multiply by the labor rate to get the cost per ton.

The functional form can get tricky though with something like baling.  To a certain thr

[2015-06-15 16:55] ncparker commented on #33
Some things in the original Cost/Return Studies from which the budgets are developed just have a value per acre.  Taking the 'Lube' example, the rice cost/return study has a value of $21/per acre but no quantity/acre, unit or cost/unit value given.  See Table 2 (page 13) in this report:
http://coststudyfiles.ucdavis.edu/uploads/cs_public/c5/11/c511c794-1e63-42f7-91c6-ce1b4c6b5917/rice-sv-2015.pdf

[2015-06-15 17:30] jrmerz commented on #34
@ncparker thanks, your explanation helps a lot.  It sounds like we should include both, though this could cause issues with the user interface.

[2015-07-01 15:24] qjhart commented on #35
I think my idea of sharing functions is goofy. The Lovefield API is way different than the normal SQL, so we pick one or the other.  Since postgres has a nice console, I think I'll just write in that.  Lovefield looks interesting, but I don't see a method to easily pre-fetch a complete db onto a client, (that's a client obsevaration)

[2015-09-17 16:49] #33 closed, assigned to jrmerz

[2015-09-17 16:59] qjhart opened #36 "Rethink our entire farm-budgets-data"
One idea for the farm-budgets-data repo, was that we could create a set of CSV files that would serve equally well as input into our budgeting data, as well as input into a spreadsheet.  The idea being you could make changes in the spreadsheet quicker than in the application, and get some benefit from that.  However, we have found in general that:
- It's pretty easy to do most things in the applic

[2015-09-17 17:12] qjhart opened #37 "Method for separating yields from our schedule"
Right now, although it is not used, we have added yields into the schedule table for the farm budget.  The reason for that is that we can then have the same operation, but get different yields (as for poplar for example).  The other advantage (also not yet used) is that we actually budget things on a per yield basis, and if we then have a yield in the schedule, we can use that in our budgeting.

T

[2015-10-30 20:03] #25 closed, assigned to qjhart

[2016-01-07 21:40] jrmerz commented on #36
Using command line JS and JSON 'export'.

[2016-01-07 21:40] #36 closed, assigned to jrmerz

[2016-01-07 21:51] jrmerz commented on #32
@qjhart do you still want to have a 'phase' attribute implemented?  Looks like it would really be 'operation groups'?

[2016-03-30 21:44] #32 closed, assigned to qjhart

[2016-03-30 21:44] #34 closed, assigned to qjhart

[2016-03-30 21:48] #35 closed, assigned to qjhart

[2017-08-18 16:02] #37 closed, assigned to nobody